{
  "openapi": "3.1.0",
  "info": {
    "title": "FlowIQ Conversations API",
    "version": "1.0.0",
    "description": "Complete WhatsApp Conversations API for retrieving messages, contacts, and conversation history.\n\n## Authentication\nAll endpoints require a Bearer token in the header:\n```\nAuthorization: Bearer YOUR_BEARER_TOKEN\n```\n\n## Example API Call\n```bash\ncurl -X GET \"https://api.flowiq.live/conversations?tenantId=YOUR_TENANT_ID&whatsappNumber=27123456789&limit=10\" \\\n  -H \"Authorization: Bearer YOUR_BEARER_TOKEN\"\n```\n\n**Response:**\n```json\n{\n  \"success\": true,\n  \"messages\": [...],\n  \"pagination\": {\n    \"currentPage\": 1,\n    \"totalPages\": 5,\n    \"hasNextPage\": true\n  },\n  \"count\": 10\n}\n```",
    "contact": {
      "name": "FlowIQ Support",
      "email": "dev@flowapt.com"
    }
  },
  "servers": [
    {
      "url": "https://api.flowiq.live",
      "description": "FlowIQ Production API"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token for authentication. Format: `Bearer YOUR_BEARER_TOKEN`",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ConversationMessage": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "The message content (may contain JSON for structured messages)",
            "example": "Hello! How can I help you today?"
          },
          "sender_type": {
            "type": "string",
            "enum": [
              "user-whatsapp",
              "bot-whatsapp",
              "human-whatsapp",
              "system"
            ],
            "description": "Type of sender",
            "example": "user-whatsapp"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Message timestamp",
            "example": "2025-01-10T14:30:00Z"
          },
          "message_status": {
            "type": "string",
            "enum": ["sent", "delivered", "read", "failed"],
            "description": "Message delivery status",
            "example": "read"
          },
          "media_type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "image",
              "video",
              "audio",
              "document",
              "interactive",
              null
            ],
            "description": "Type of media attachment",
            "example": "image"
          },
          "media_url": {
            "type": "string",
            "nullable": true,
            "description": "URL to media file if applicable",
            "example": "https://example.com/image.jpg"
          },
          "assignee": {
            "type": "string",
            "nullable": true,
            "description": "Assigned team member UUID",
            "example": null
          },
          "voice_note_transcription": {
            "type": "string",
            "nullable": true,
            "description": "Transcription of voice messages",
            "example": null
          },
          "reactions": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Message reactions",
            "example": []
          }
        },
        "required": ["message", "sender_type", "created_at", "message_status"]
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Contact unique identifier",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "full_name": {
            "type": "string",
            "nullable": true,
            "description": "Contact full name",
            "example": "John Doe"
          },
          "whatsapp_id": {
            "type": "string",
            "description": "WhatsApp number (normalized)",
            "example": "27123456789"
          },
          "phone_number": {
            "type": "string",
            "nullable": true,
            "description": "Original phone number format",
            "example": "+27 12 345 6789"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "format": "email",
            "description": "Contact email address",
            "example": "john@example.com"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Contact creation timestamp",
            "example": "2025-01-10T14:30:00Z"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "Contact tags",
            "example": ["customer", "premium"]
          },
          "has_unread_messages": {
            "type": "boolean",
            "description": "Whether contact has unread messages",
            "example": false
          },
          "bot_status": {
            "type": "string",
            "nullable": true,
            "enum": ["active", "paused", null],
            "description": "Bot interaction status",
            "example": "active"
          },
          "archived": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether contact is archived",
            "example": false
          }
        },
        "required": ["id", "whatsapp_id", "created_at", "has_unread_messages"]
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "currentPage": {
            "type": "integer",
            "minimum": 1,
            "description": "Current page number",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "minimum": 0,
            "description": "Total number of pages",
            "example": 5
          },
          "totalMessages": {
            "type": "integer",
            "minimum": 0,
            "description": "Total number of messages (for message endpoints)",
            "example": 48
          },
          "totalContacts": {
            "type": "integer",
            "minimum": 0,
            "description": "Total number of contacts (for contacts endpoint)",
            "example": 150
          },
          "messagesPerPage": {
            "type": "integer",
            "minimum": 1,
            "description": "Number of messages per page",
            "example": 10
          },
          "contactsPerPage": {
            "type": "integer",
            "minimum": 1,
            "description": "Number of contacts per page",
            "example": 50
          },
          "hasNextPage": {
            "type": "boolean",
            "description": "Whether there is a next page",
            "example": true
          },
          "hasPrevPage": {
            "type": "boolean",
            "description": "Whether there is a previous page",
            "example": false
          }
        },
        "required": ["currentPage", "totalPages", "hasNextPage", "hasPrevPage"]
      },
      "ConversationResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the request was successful",
            "example": true
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConversationMessage"
            },
            "description": "Array of conversation messages"
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "count": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of messages returned in this response",
            "example": 10
          },
          "searchTerms": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "Search terms that were applied (if any)",
            "example": ["#4275", "urgent"]
          },
          "filtered": {
            "type": "boolean",
            "description": "Whether search filtering was applied",
            "example": true
          },
          "stored": {
            "type": "boolean",
            "description": "Whether messages were stored in contact record",
            "example": false
          }
        },
        "required": ["success", "messages", "count", "filtered"]
      },
      "ContactsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the request was successful",
            "example": true
          },
          "contacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contact"
            },
            "description": "Array of contacts"
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "count": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of contacts returned in this response",
            "example": 50
          }
        },
        "required": ["success", "contacts", "pagination", "count"]
      },
      "FindContactResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the request was successful",
            "example": true
          },
          "contact": {
            "$ref": "#/components/schemas/Contact"
          },
          "original_phone": {
            "type": "string",
            "description": "Original phone number provided",
            "example": "27123456789"
          },
          "normalized_phone": {
            "type": "string",
            "description": "Normalized phone number used for lookup",
            "example": "27123456789"
          }
        },
        "required": ["success", "contact", "original_phone", "normalized_phone"]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the request was successful",
            "example": false
          },
          "error": {
            "type": "string",
            "description": "Error message",
            "example": "Tenant ID is required"
          },
          "message": {
            "type": "string",
            "description": "Detailed error message",
            "example": "Please provide tenantId query parameter"
          },
          "details": {
            "type": "string",
            "description": "Additional error details (optional)",
            "example": "Shopify order not found"
          }
        },
        "required": ["success", "error"]
      },
      "CreateContactRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Contact's full name",
            "example": "John Doe"
          },
          "phone_number": {
            "type": "string",
            "description": "Phone number with country code (required)",
            "example": "+27123456789"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Contact's email address",
            "example": "john@example.com"
          },
          "tags": {
            "type": "string",
            "description": "Comma-separated tags",
            "example": "customer,premium,vip"
          }
        },
        "required": ["phone_number"]
      },
      "CreateContactResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the request was successful",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Success message",
            "example": "Contact created successfully"
          },
          "contact": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "description": "Contact unique identifier",
                "example": "123e4567-e89b-12d3-a456-426614174000"
              },
              "full_name": {
                "type": "string",
                "nullable": true,
                "description": "Contact full name",
                "example": "John Doe"
              },
              "whatsapp_id": {
                "type": "string",
                "description": "WhatsApp number (normalized, no special characters)",
                "example": "27123456789"
              },
              "phone_number": {
                "type": "string",
                "description": "Original phone number format",
                "example": "+27123456789"
              },
              "email": {
                "type": "string",
                "nullable": true,
                "format": "email",
                "description": "Contact email address",
                "example": "john@example.com"
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Contact tags",
                "example": ["customer", "premium", "vip"]
              },
              "organization_id": {
                "type": "string",
                "format": "uuid",
                "description": "Organization UUID",
                "example": "org-uuid-here"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Contact creation timestamp",
                "example": "2025-12-11T10:30:00Z"
              }
            },
            "required": [
              "id",
              "whatsapp_id",
              "phone_number",
              "organization_id",
              "created_at"
            ]
          }
        },
        "required": ["success", "message", "contact"]
      },
      "ContactExistsResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message",
            "example": "Contact already exists"
          },
          "message": {
            "type": "string",
            "description": "Detailed error message",
            "example": "A contact with this phone number already exists"
          },
          "existing_contact": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "description": "Existing contact ID",
                "example": "existing-uuid"
              },
              "full_name": {
                "type": "string",
                "nullable": true,
                "description": "Existing contact name",
                "example": "John Doe"
              },
              "whatsapp_id": {
                "type": "string",
                "description": "Existing contact WhatsApp ID",
                "example": "27123456789"
              }
            }
          }
        },
        "required": ["error", "message", "existing_contact"]
      },
      "SendWhatsAppRequest": {
        "type": "object",
        "properties": {
          "phone_number": {
            "type": "string",
            "description": "Recipient phone number with country code",
            "example": "+27123456789"
          },
          "message_type": {
            "type": "string",
            "enum": [
              "text",
              "image",
              "video",
              "audio",
              "document",
              "location",
              "contacts",
              "interactive",
              "reaction"
            ],
            "description": "Type of message to send",
            "example": "text"
          },
          "text": {
            "type": "string",
            "description": "Text content (required for text messages)",
            "example": "Hello, World!"
          },
          "media_url": {
            "type": "string",
            "description": "URL to media file (required for image/video/audio/document)",
            "example": "https://example.com/image.jpg"
          },
          "caption": {
            "type": "string",
            "description": "Caption for media messages",
            "example": "Check this out!"
          },
          "filename": {
            "type": "string",
            "description": "Filename for document messages",
            "example": "document.pdf"
          },
          "location": {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "number",
                "description": "Latitude coordinate",
                "example": -33.9249
              },
              "longitude": {
                "type": "number",
                "description": "Longitude coordinate",
                "example": 18.4241
              },
              "name": {
                "type": "string",
                "description": "Location name",
                "example": "Cape Town Office"
              },
              "address": {
                "type": "string",
                "description": "Location address",
                "example": "123 Main Street, Cape Town"
              }
            },
            "required": ["latitude", "longitude"]
          },
          "contacts": {
            "type": "array",
            "description": "Array of contact cards to share",
            "items": {
              "type": "object"
            }
          },
          "interactive": {
            "type": "object",
            "description": "Interactive message configuration",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["button", "list"],
                "description": "Type of interactive message"
              },
              "body": {
                "type": "string",
                "description": "Main message body text (max 1024 chars)"
              },
              "header": {
                "type": "string",
                "description": "Header text (max 60 chars)"
              },
              "footer": {
                "type": "string",
                "description": "Footer text (max 60 chars)"
              },
              "buttons": {
                "type": "array",
                "description": "Array of buttons (max 3, for button type)",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Button identifier"
                    },
                    "title": {
                      "type": "string",
                      "description": "Button text (max 20 chars)"
                    }
                  }
                }
              },
              "button": {
                "type": "string",
                "description": "Menu button text for list type (max 20 chars)"
              },
              "sections": {
                "type": "array",
                "description": "Array of sections (max 10, for list type)",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "Section title (max 24 chars)"
                    },
                    "rows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Row identifier"
                          },
                          "title": {
                            "type": "string",
                            "description": "Row title (max 24 chars)"
                          },
                          "description": {
                            "type": "string",
                            "description": "Row description (max 72 chars)"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "header_media": {
                "type": "object",
                "description": "Media header for button messages",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["image", "video", "document"]
                  },
                  "url": {
                    "type": "string"
                  },
                  "filename": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "reaction": {
            "type": "object",
            "description": "Reaction configuration",
            "properties": {
              "message_id": {
                "type": "string",
                "description": "WhatsApp message ID to react to"
              },
              "emoji": {
                "type": "string",
                "description": "Emoji to react with",
                "default": "👍"
              }
            },
            "required": ["message_id"]
          },
          "context_message_id": {
            "type": "string",
            "description": "WhatsApp message ID to reply to",
            "example": "wamid.HBgLMjc4MTIzNDU2NzgVAgASGBQzRUI..."
          }
        },
        "required": ["phone_number", "message_type"]
      },
      "SendWhatsAppResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the message was sent successfully",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Success message",
            "example": "Message sent successfully"
          },
          "data": {
            "type": "object",
            "properties": {
              "message_id": {
                "type": "string",
                "description": "WhatsApp message ID",
                "example": "wamid.HBgLMjc4MTIzNDU2NzgVAgASGBQzRUI..."
              },
              "recipient": {
                "type": "string",
                "description": "Recipient phone number",
                "example": "27123456789"
              },
              "message_type": {
                "type": "string",
                "description": "Type of message sent",
                "example": "text"
              },
              "organization": {
                "type": "string",
                "description": "Organization name",
                "example": "Your Organization"
              },
              "meta_response": {
                "type": "object",
                "description": "Raw response from Meta API"
              }
            }
          }
        },
        "required": ["success", "message", "data"]
      },
      "ContactNotFoundResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Contact not found"
          },
          "message": {
            "type": "string",
            "example": "No contact exists with WhatsApp number 27123456789. Please create the contact first using the /api/contact endpoint."
          },
          "whatsapp_id": {
            "type": "string",
            "example": "27123456789"
          }
        },
        "required": ["error", "message", "whatsapp_id"]
      }
    }
  },
  "paths": {
    "/contact": {
      "post": {
        "operationId": "createContact",
        "tags": ["Endpoints"],
        "summary": "Create Contact",
        "description": "Create a new contact with WhatsApp number verification. The phone number must be registered on WhatsApp and will be verified using FlowMod's verification service.\n\n## Key Features\n- Automatic WhatsApp number verification\n- Phone number normalization\n- Duplicate detection\n- Tag parsing from comma-separated strings\n- API key authentication with organization validation",
        "parameters": [
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization tenant identifier (slug)",
            "example": "your-org-tenant-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactRequest"
              },
              "examples": {
                "full-contact": {
                  "summary": "Complete Contact Information",
                  "value": {
                    "name": "John Doe",
                    "phone_number": "+27123456789",
                    "email": "john@example.com",
                    "tags": "customer,premium,vip"
                  }
                },
                "minimal-contact": {
                  "summary": "Minimal Required Fields",
                  "value": {
                    "phone_number": "+27123456789"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateContactResponse"
                },
                "example": {
                  "success": true,
                  "message": "Contact created successfully",
                  "contact": {
                    "id": "123e4567-e89b-12d3-a456-426614174000",
                    "full_name": "John Doe",
                    "whatsapp_id": "27123456789",
                    "phone_number": "+27123456789",
                    "email": "john@example.com",
                    "tags": ["customer", "premium", "vip"],
                    "organization_id": "org-uuid-here",
                    "created_at": "2025-12-11T10:30:00Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid or missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missing-phone": {
                    "summary": "Missing Phone Number",
                    "value": {
                      "error": "Missing required field",
                      "message": "phone_number is required"
                    }
                  },
                  "invalid-whatsapp": {
                    "summary": "Invalid WhatsApp Number",
                    "value": {
                      "error": "Invalid WhatsApp number",
                      "message": "The provided phone number is not registered on WhatsApp"
                    }
                  },
                  "invalid-format": {
                    "summary": "Invalid Phone Format",
                    "value": {
                      "error": "Invalid phone number",
                      "message": "Phone number must include country code and be at least 10 digits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key or tenant mismatch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid-key": {
                    "summary": "Invalid API Key",
                    "value": {
                      "error": "Invalid API key",
                      "message": "API key has been revoked"
                    }
                  },
                  "wrong-format": {
                    "summary": "Wrong Token Format",
                    "value": {
                      "error": "Invalid token format",
                      "message": "Bearer token must be an API key (fiq_...)"
                    }
                  },
                  "tenant-mismatch": {
                    "summary": "Tenant Mismatch",
                    "value": {
                      "error": "API key mismatch",
                      "message": "API key does not belong to the specified tenant"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Organization not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Organization not found",
                  "message": "No organization found with tenantId: YOUR_TENANT_ID"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - Contact already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactExistsResponse"
                },
                "example": {
                  "error": "Contact already exists",
                  "message": "A contact with this phone number already exists",
                  "existing_contact": {
                    "id": "existing-uuid",
                    "full_name": "John Doe",
                    "whatsapp_id": "27123456789"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Internal server error",
                  "message": "Failed to create contact"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/conversations": {
      "get": {
        "operationId": "getConversationMessages",
        "tags": ["Endpoints"],
        "summary": "Get Conversation Messages",
        "description": "Retrieve messages from a conversation with comprehensive filtering and search capabilities.\n\n## Default Behavior\n- **Action**: Defaults to `conversation-messages` if not specified\n- **Order**: Returns newest messages first (`ascending=false`)\n- **Limit**: Returns 10 messages per page by default\n- **Page**: Starts at page 1\n\n## Search Capabilities\n- **Text Search**: Use `query` parameter with comma-separated terms\n- **Order Search**: Use `orderId` to search by Shopify order ID\n- **Combined Search**: Use both `query` and `orderId` together",
        "parameters": [
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization tenant identifier",
            "example": "your-org-tenant-id"
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["conversation-messages", "contacts", "find-by-phone"],
              "default": "conversation-messages"
            },
            "description": "API action to perform",
            "example": "conversation-messages"
          },
          {
            "name": "whatsappNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "WhatsApp phone number (required for message and find-by-phone actions)",
            "example": "27123456789"
          },
          {
            "name": "contactId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Contact UUID (alternative to whatsappNumber)",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            },
            "description": "Number of items per page (messages: default 10, contacts: default 50)",
            "example": 20
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number for pagination",
            "example": 1
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search terms (comma-separated for multiple terms)",
            "example": "urgent,help,order"
          },
          {
            "name": "orderId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Shopify order ID to search for (fetches order number from Shopify)",
            "example": "1234567890"
          },
          {
            "name": "ascending",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Message order (false = newest first, true = oldest first)",
            "example": false
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search contacts by name/phone (for contacts action)",
            "example": "john"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/ConversationResponse" },
                    { "$ref": "#/components/schemas/ContactsResponse" },
                    { "$ref": "#/components/schemas/FindContactResponse" }
                  ]
                },
                "examples": {
                  "conversation-messages": {
                    "summary": "Conversation Messages",
                    "value": {
                      "success": true,
                      "messages": [
                        {
                          "message": "Hello! How can I help you today?",
                          "sender_type": "bot-whatsapp",
                          "created_at": "2025-01-10T14:30:00Z",
                          "message_status": "read",
                          "media_type": null,
                          "media_url": null,
                          "assignee": null,
                          "voice_note_transcription": null,
                          "reactions": []
                        }
                      ],
                      "pagination": {
                        "currentPage": 1,
                        "totalPages": 5,
                        "totalMessages": 48,
                        "messagesPerPage": 10,
                        "hasNextPage": true,
                        "hasPrevPage": false
                      },
                      "count": 1,
                      "searchTerms": null,
                      "filtered": false,
                      "stored": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missing-tenantId": {
                    "summary": "Missing Tenant ID",
                    "value": {
                      "success": false,
                      "error": "Tenant ID is required",
                      "message": "Please provide tenantId query parameter"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missing-auth": {
                    "summary": "Missing Authorization",
                    "value": {
                      "success": false,
                      "error": "Authorization required",
                      "message": "Please provide Authorization bearer token"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Organization, contact, or order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "org-not-found": {
                    "summary": "Organization Not Found",
                    "value": {
                      "success": false,
                      "error": "Organization not found",
                      "message": "No organization found with tenantId: YOUR_TENANT_ID"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "Internal server error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/send-whatsapp": {
      "post": {
        "operationId": "sendWhatsAppMessage",
        "tags": ["Endpoints"],
        "summary": "Send WhatsApp Message",
        "description": "Send WhatsApp messages through Meta's WhatsApp Business API. Supports text, media (image/video/audio/document), location, contacts, interactive messages (buttons/lists), and reactions.\n\n## Requirements\n- Organization must have Meta WhatsApp provider configured\n- Contact must already exist in your organization\n- Valid API key with `fiq_` prefix\n\n## Message Types\n- `text` - Plain text messages\n- `image` - Image with optional caption\n- `video` - Video with optional caption\n- `audio` - Audio/voice message\n- `document` - Document with optional filename and caption\n- `location` - Location sharing\n- `contacts` - Contact card sharing\n- `interactive` - Buttons or list menus\n- `reaction` - Emoji reaction to existing message",
        "parameters": [
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization tenant identifier (slug)",
            "example": "your-org-tenant-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendWhatsAppRequest"
              },
              "examples": {
                "text-message": {
                  "summary": "Text Message",
                  "value": {
                    "phone_number": "+27123456789",
                    "message_type": "text",
                    "text": "Hello! This is a test message from FlowIQ API."
                  }
                },
                "image-message": {
                  "summary": "Image with Caption",
                  "value": {
                    "phone_number": "+27123456789",
                    "message_type": "image",
                    "media_url": "https://example.com/image.jpg",
                    "caption": "Check out this image!"
                  }
                },
                "document-message": {
                  "summary": "Document Message",
                  "value": {
                    "phone_number": "+27123456789",
                    "message_type": "document",
                    "media_url": "https://example.com/invoice.pdf",
                    "filename": "Invoice_2025.pdf",
                    "caption": "Please find your invoice attached"
                  }
                },
                "location-message": {
                  "summary": "Location Message",
                  "value": {
                    "phone_number": "+27123456789",
                    "message_type": "location",
                    "location": {
                      "latitude": -33.9249,
                      "longitude": 18.4241,
                      "name": "Cape Town Office",
                      "address": "123 Main Street, Cape Town"
                    }
                  }
                },
                "interactive-buttons": {
                  "summary": "Interactive Buttons",
                  "value": {
                    "phone_number": "+27123456789",
                    "message_type": "interactive",
                    "interactive": {
                      "type": "button",
                      "header": "Order Confirmation",
                      "body": "Would you like to confirm your order?",
                      "footer": "Reply within 24 hours",
                      "buttons": [
                        { "id": "confirm", "title": "Confirm" },
                        { "id": "cancel", "title": "Cancel" }
                      ]
                    }
                  }
                },
                "interactive-list": {
                  "summary": "Interactive List",
                  "value": {
                    "phone_number": "+27123456789",
                    "message_type": "interactive",
                    "interactive": {
                      "type": "list",
                      "header": "Our Menu",
                      "body": "Please select from our available options:",
                      "button": "View Menu",
                      "sections": [
                        {
                          "title": "Main Dishes",
                          "rows": [
                            {
                              "id": "burger",
                              "title": "Burger",
                              "description": "Beef patty with cheese"
                            },
                            {
                              "id": "pizza",
                              "title": "Pizza",
                              "description": "Margherita or Pepperoni"
                            }
                          ]
                        }
                      ]
                    }
                  }
                },
                "reaction-message": {
                  "summary": "Reaction",
                  "value": {
                    "phone_number": "+27123456789",
                    "message_type": "reaction",
                    "reaction": {
                      "message_id": "wamid.HBgLMjc4MTIzNDU2NzgVAgASGBQzRUI...",
                      "emoji": "❤️"
                    }
                  }
                },
                "reply-to-message": {
                  "summary": "Reply to Message",
                  "value": {
                    "phone_number": "+27123456789",
                    "message_type": "text",
                    "text": "This is a reply to your message!",
                    "context_message_id": "wamid.HBgLMjc4MTIzNDU2NzgVAgASGBQzRUI..."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendWhatsAppResponse"
                },
                "example": {
                  "success": true,
                  "message": "Message sent successfully",
                  "data": {
                    "message_id": "wamid.HBgLMjc4MTIzNDU2NzgVAgASGBQzRUI...",
                    "recipient": "27123456789",
                    "message_type": "text",
                    "organization": "Your Organization Name",
                    "meta_response": {
                      "messaging_product": "whatsapp",
                      "contacts": [
                        { "input": "27123456789", "wa_id": "27123456789" }
                      ],
                      "messages": [
                        { "id": "wamid.HBgLMjc4MTIzNDU2NzgVAgASGBQzRUI..." }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or provider",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missing-phone": {
                    "summary": "Missing Phone Number",
                    "value": {
                      "error": "Missing required field",
                      "message": "phone_number is required"
                    }
                  },
                  "missing-text": {
                    "summary": "Missing Text for Text Message",
                    "value": {
                      "error": "Missing required field",
                      "message": "text is required for text messages"
                    }
                  },
                  "invalid-provider": {
                    "summary": "Invalid Provider",
                    "value": {
                      "error": "Invalid provider",
                      "message": "Organization must use Meta WhatsApp provider. Current: wati"
                    }
                  },
                  "invalid-message-type": {
                    "summary": "Invalid Message Type",
                    "value": {
                      "error": "Invalid message type",
                      "message": "Unsupported message_type: unknown. Supported types: text, image, video, audio, document, location, contacts, interactive, reaction"
                    }
                  },
                  "meta-not-configured": {
                    "summary": "Meta Not Configured",
                    "value": {
                      "error": "Meta not configured",
                      "message": "Organization Meta WhatsApp credentials are not configured"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key or tenant mismatch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid-key": {
                    "summary": "Invalid API Key",
                    "value": {
                      "error": "Invalid API key",
                      "message": "API key has been revoked"
                    }
                  },
                  "wrong-format": {
                    "summary": "Wrong Token Format",
                    "value": {
                      "error": "Invalid token format",
                      "message": "Bearer token must be an API key (fiq_...)"
                    }
                  },
                  "tenant-mismatch": {
                    "summary": "Tenant Mismatch",
                    "value": {
                      "error": "API key mismatch",
                      "message": "API key does not belong to the specified tenant"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Organization or contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/ErrorResponse" },
                    { "$ref": "#/components/schemas/ContactNotFoundResponse" }
                  ]
                },
                "examples": {
                  "org-not-found": {
                    "summary": "Organization Not Found",
                    "value": {
                      "error": "Organization not found",
                      "message": "No organization found with tenantId: YOUR_TENANT_ID"
                    }
                  },
                  "contact-not-found": {
                    "summary": "Contact Not Found",
                    "value": {
                      "error": "Contact not found",
                      "message": "No contact exists with WhatsApp number 27123456789. Please create the contact first using the /api/contact endpoint.",
                      "whatsapp_id": "27123456789"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Meta upload failed or server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "meta-upload-failed": {
                    "summary": "Meta Upload Failed",
                    "value": {
                      "error": "Meta upload failed",
                      "message": "Failed to upload media to Meta"
                    }
                  },
                  "storage-failed": {
                    "summary": "Storage Upload Failed",
                    "value": {
                      "error": "Storage upload failed",
                      "message": "Failed to upload to storage"
                    }
                  },
                  "send-failed": {
                    "summary": "Message Send Failed",
                    "value": {
                      "error": "Failed to send message",
                      "message": "WhatsApp API error message"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "tags": [
    {
      "name": "Endpoints",
      "description": "Conversation and contact management API endpoints"
    }
  ]
}
