{
  "openapi": "3.0.0",
  "info": {
    "title": "FlowMod WhatsApp API",
    "version": "1.0.0",
    "description": "Complete WhatsApp API integration for businesses and developers. Transform your personal WhatsApp number into a powerful API.",
    "contact": {
      "name": "FlowMod Support",
      "email": "dev@flowapt.com"
    }
  },
  "servers": [
    {
      "url": "https://api.flowmod.ai",
      "description": "FlowMod Production API"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "apikey",
        "description": "Your FlowMod instance API key"
      }
    },
    "schemas": {
      "ConnectionState": {
        "type": "object",
        "properties": {
          "instance": {
            "type": "object",
            "properties": {
              "instanceName": {
                "type": "string",
                "description": "The name of the instance"
              },
              "state": {
                "type": "string",
                "enum": ["open", "connecting", "close"],
                "description": "Current connection state"
              }
            }
          }
        }
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "key": {
            "type": "object",
            "description": "Message identifier object"
          }
        }
      },
      "GroupCreateRequest": {
        "type": "object",
        "required": ["subject", "participants"],
        "properties": {
          "subject": {
            "type": "string",
            "description": "Group name/subject"
          },
          "participants": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of phone numbers to add as participants"
          },
          "description": {
            "type": "string",
            "description": "Optional group description"
          }
        }
      }
    }
  },
  "paths": {
    "/instance/{instanceName}/connectionState": {
      "get": {
        "tags": ["Instance Status"],
        "summary": "Get Connection State",
        "description": "Check the current connection status of your WhatsApp instance",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your FlowMod instance name"
          }
        ],
        "responses": {
          "200": {
            "description": "Connection state retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionState"
                }
              }
            }
          }
        }
      }
    },
    "/message/sendText/{instanceName}": {
      "post": {
        "tags": ["Messaging"],
        "summary": "Send Text Message",
        "description": "Send a text message to a WhatsApp number",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your FlowMod instance name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["number", "text"],
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient's phone number (international format without +)",
                    "example": "1234567890"
                  },
                  "text": {
                    "type": "string",
                    "description": "The text message to send",
                    "example": "Hello from FlowMod API!"
                  },
                  "delay": {
                    "type": "number",
                    "description": "Optional delay in milliseconds before sending"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/message/sendMedia/{instanceName}": {
      "post": {
        "tags": ["Messaging"],
        "summary": "Send Media Message",
        "description": "Send media files (images, videos, documents, audio) with optional caption",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your FlowMod instance name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["number", "mediatype", "media"],
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Recipient's phone number",
                    "example": "1234567890"
                  },
                  "mediatype": {
                    "type": "string",
                    "enum": ["image", "video", "document", "audio"],
                    "description": "Type of media"
                  },
                  "media": {
                    "type": "string",
                    "description": "URL or base64 encoded media file",
                    "example": "https://example.com/image.jpg"
                  },
                  "caption": {
                    "type": "string",
                    "description": "Optional caption for the media",
                    "example": "Check this out!"
                  },
                  "fileName": {
                    "type": "string",
                    "description": "Optional filename for documents"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Media message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/group/create/{instanceName}": {
      "post": {
        "tags": ["Group Management"],
        "summary": "Create Group",
        "description": "Create a new WhatsApp group with specified participants",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your FlowMod instance name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "groupId": {
                      "type": "string",
                      "description": "The created group ID"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/group/updateParticipant/{instanceName}": {
      "put": {
        "tags": ["Group Management"],
        "summary": "Update Group Participants",
        "description": "Add, remove, promote, or demote participants in a WhatsApp group",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your FlowMod instance name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["groupJid", "action", "participants"],
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "description": "Group ID (JID format)",
                    "example": "group-id@g.us"
                  },
                  "action": {
                    "type": "string",
                    "enum": ["add", "remove", "promote", "demote"],
                    "description": "Action to perform on participants"
                  },
                  "participants": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of participant phone numbers",
                    "example": ["1234567890"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Participants updated successfully"
          }
        }
      }
    },
    "/webhook/set/{instanceName}": {
      "post": {
        "tags": ["Webhooks"],
        "summary": "Set Webhook",
        "description": "Configure webhook URL and events for your instance",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your FlowMod instance name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["webhook"],
                "properties": {
                  "webhook": {
                    "type": "object",
                    "required": ["url", "events"],
                    "properties": {
                      "url": {
                        "type": "string",
                        "format": "uri",
                        "description": "Your webhook endpoint URL",
                        "example": "https://your-app.com/webhook"
                      },
                      "events": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "MESSAGES_UPSERT",
                            "MESSAGES_UPDATE", 
                            "CONNECTION_UPDATE",
                            "GROUPS_UPSERT",
                            "GROUP_PARTICIPANTS_UPDATE"
                          ]
                        },
                        "description": "Array of event types to subscribe to",
                        "example": ["MESSAGES_UPSERT", "CONNECTION_UPDATE"]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook configured successfully"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Instance Status",
      "description": "Check WhatsApp instance connection status"
    },
    {
      "name": "Messaging", 
      "description": "Send various types of WhatsApp messages"
    },
    {
      "name": "Group Management",
      "description": "Create and manage WhatsApp groups and participants"
    },
    {
      "name": "Webhooks",
      "description": "Configure webhooks for real-time event notifications"
    }
  ]
}