{
  "openapi": "3.1.0",
  "info": {
    "title": "FlowMod API",
    "description": "FlowMod API provides programmatic access to your WhatsApp instance. Send messages, manage groups, handle webhooks, and integrate WhatsApp functionality into your applications.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.flowmod.ai",
      "description": "FlowMod API Production Server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/instance/{instanceName}/connectionState": {
      "get": {
        "summary": "Check Connection Status",
        "description": "Check the connection status of your WhatsApp instance. Returns the current state of the connection.",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "description": "The name of your FlowMod instance",
            "schema": {
              "type": "string",
              "example": "my-whatsapp-instance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connection status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "type": "string",
                      "enum": ["open", "connecting", "close"],
                      "description": "Current connection state"
                    },
                    "instance": {
                      "type": "object",
                      "properties": {
                        "instanceName": {
                          "type": "string",
                          "description": "Name of the instance"
                        },
                        "status": {
                          "type": "string",
                          "description": "Instance status"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "connected": {
                    "summary": "Connected instance",
                    "value": {
                      "state": "open",
                      "instance": {
                        "instanceName": "my-whatsapp-instance",
                        "status": "connected"
                      }
                    }
                  },
                  "disconnected": {
                    "summary": "Disconnected instance",
                    "value": {
                      "state": "close",
                      "instance": {
                        "instanceName": "my-whatsapp-instance",
                        "status": "disconnected"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Instance not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": ["Instance Management"]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "apikey",
        "description": "Enter your FlowMod API key"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error type"
          },
          "message": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Instance Management",
      "description": "Manage your WhatsApp instance connection and status"
    }
  ]
}