{
  "openapi": "3.1.0",
  "info": {
    "title": "FlowMod API",
    "description": "WhatsApp API for sending messages, managing groups, and handling webhooks through your FlowMod instance.",
    "version": "1.0.0",
    "contact": {
      "name": "FlowMod Support",
      "email": "matt@flowapt.com"
    }
  },
  "servers": [
    {
      "url": "https://api.flowmod.ai",
      "description": "FlowMod Production API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/instance/{instanceName}/connectionState": {
      "get": {
        "tags": ["Instance"],
        "summary": "Check Connection Status",
        "description": "Check if your WhatsApp instance is connected and ready to send messages",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your instance name from the FlowMod platform"
          }
        ],
        "responses": {
          "200": {
            "description": "Connection status response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "instance": {
                      "type": "object",
                      "properties": {
                        "instanceName": {
                          "type": "string",
                          "example": "my-instance"
                        },
                        "state": {
                          "type": "string",
                          "enum": ["open", "connecting", "close"],
                          "example": "open"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/message/sendText/{instanceName}": {
      "post": {
        "tags": ["Messaging"],
        "summary": "Send Text Message",
        "description": "Send a text message to a WhatsApp number or group",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your instance name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["number", "text"],
                "properties": {
                  "number": {
                    "type": "string",
                    "example": "1234567890",
                    "description": "Phone number (international format without +)"
                  },
                  "text": {
                    "type": "string",
                    "example": "Hello from FlowMod API!",
                    "description": "Message text"
                  },
                  "delay": {
                    "type": "number",
                    "example": 1200,
                    "description": "Typing delay in milliseconds"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "3EB0C767D711AFFDD9C2"
                        },
                        "remoteJid": {
                          "type": "string",
                          "example": "1234567890@s.whatsapp.net"
                        }
                      }
                    },
                    "message": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/message/sendMedia/{instanceName}": {
      "post": {
        "tags": ["Messaging"],
        "summary": "Send Media Message",
        "description": "Send images, videos, documents, or audio files",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["number", "mediatype", "media"],
                "properties": {
                  "number": {
                    "type": "string",
                    "example": "1234567890"
                  },
                  "mediatype": {
                    "type": "string",
                    "enum": ["image", "video", "audio", "document"],
                    "example": "image"
                  },
                  "media": {
                    "type": "string",
                    "example": "https://example.com/image.jpg",
                    "description": "URL or base64 encoded media"
                  },
                  "caption": {
                    "type": "string",
                    "example": "Photo caption"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Media sent successfully"
          }
        }
      }
    },
    "/group/create/{instanceName}": {
      "post": {
        "tags": ["Groups"],
        "summary": "Create WhatsApp Group",
        "description": "Create a new WhatsApp group with specified participants",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["subject", "participants"],
                "properties": {
                  "subject": {
                    "type": "string",
                    "example": "My API Group",
                    "description": "Group name"
                  },
                  "participants": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": ["1234567890", "0987654321"],
                    "description": "Array of phone numbers to add"
                  },
                  "description": {
                    "type": "string",
                    "example": "Group created via API"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Group created successfully"
          }
        }
      }
    },
    "/group/updateParticipant/{instanceName}": {
      "post": {
        "tags": ["Groups"],
        "summary": "Add/Remove Group Participants",
        "description": "Add or remove participants from a WhatsApp group",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["groupJid", "action", "participants"],
                "properties": {
                  "groupJid": {
                    "type": "string",
                    "example": "120363123456789@g.us",
                    "description": "Group ID"
                  },
                  "action": {
                    "type": "string",
                    "enum": ["add", "remove", "promote", "demote"],
                    "example": "add"
                  },
                  "participants": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": ["1234567890"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Participants updated successfully"
          }
        }
      }
    },
    "/webhook/set/{instanceName}": {
      "post": {
        "tags": ["Webhooks"],
        "summary": "Set Webhook URL",
        "description": "Configure webhook URL to receive real-time message notifications",
        "parameters": [
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["webhook"],
                "properties": {
                  "webhook": {
                    "type": "object",
                    "required": ["url"],
                    "properties": {
                      "url": {
                        "type": "string",
                        "example": "https://your-app.com/webhook",
                        "description": "Your webhook endpoint URL"
                      },
                      "events": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": ["MESSAGES_UPSERT", "CONNECTION_UPDATE", "GROUPS_UPSERT"]
                        },
                        "example": ["MESSAGES_UPSERT"],
                        "description": "Events to subscribe to"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook configured successfully"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Your FlowMod API key"
      }
    }
  },
  "tags": [
    {
      "name": "Instance",
      "description": "Check your WhatsApp instance status"
    },
    {
      "name": "Messaging",
      "description": "Send text and media messages"
    },
    {
      "name": "Groups",
      "description": "Create and manage WhatsApp groups"
    },
    {
      "name": "Webhooks",
      "description": "Configure real-time event notifications"
    }
  ]
}